* {
    box-sizing: border-box;
    font-family: Roboto;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background-color: white;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 0.25);
}

header img {
    margin-left: 20px;
}

header ion-icon{
    font-size: 40px;
    margin-right: 24px;
}

body {
    background-color: #F3F3F3;
}

.input-screen {
    background-color: white;
    height: 100%;
    width: 100%;
    z-index: 0;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: 700;
}

.input-screen input {
    height: 54px;
    width: 70%;
    margin-bottom: 15px;
    border-radius: 4px;
    border: 1px solid #d7d7d7;
    font-weight: 400;
    font-size: 18px;
    text-align: center;
}

.input-screen img {
    height: 92px;
    width: 130px;
    margin-bottom: 94px;
}

.input-screen button {
    height: 45px;
    width: 109px;
    border: none;
    border-radius: 9px;
    background-color: #e7e7e7;
    font-weight: 400;
    font-size: 18px;
    color: #696969;
}

img.loading {
    height: 100px;
    margin: 0px 0px 10px;
}

main {
    margin-top: 90px;
    margin-bottom: 90px;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background-color: white;
    z-index: 1;
    box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
    font-size: 30px;
    font-family: Roboto;
    padding: 20px;
    justify-content: space-between;
}

footer input{
    height: 80%;
    width: 100%;
    border: none;
    font-style: italic;
    font-size: 18px;
    outline: none;
    font-weight: 400;
}

footer ion-icon:hover {
    cursor: pointer;
}

.container-box {
    width: 100%;
    background-color: #DCDCDC;
    border-radius: 2px;
    margin-bottom: 4px;
    padding: 10px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
}

.normal-messages {
    background-color: white;
}

.private_message {
    background-color: #FFDEDE;
}

.time {
    color: #AAAAAA;
    margin-right: 5px;
}

.strong {
    font-weight: 700;
}

.hide {
    display: none;
}
