* {
    box-sizing: border-box;
}

header {
    position: fixed;
    top: 0px;
    width: 100%;
    height: 80px;
    background-color: white;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 0.25);
}

header img {
    margin-left: 20px;
}

header ion-icon{
    font-size: 40px;
    margin-right: 24px;
}

body {
    background-color: #F3F3F3;
}

main {
    margin-top: 90px;
    margin-bottom: 90px;
}

footer {
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 80px;
    background-color: white;
    z-index: 1;
    box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
    font-size: 30px;
    font-family: Roboto;
    padding: 20px;
    justify-content: space-between;
}

footer input{
    height: 80%;
    width: 100%;
    border: none;
    font-style: italic;
    font-size: 18px;
    outline: none;
    font-weight: 400;
}

footer ion-icon:hover {
    cursor: pointer;
}

.container-box {
    width: 100%;
    background-color: #DCDCDC;
    border-radius: 2px;
    margin-bottom: 4px;
    padding: 10px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
}

.normal-messages {
    background-color: white;
}

.private_message {
    background-color: #FFDEDE;
}

.time {
    color: #AAAAAA;
    margin-right: 5px;
}

.strong {
    font-weight: 700;
}

